 <h1><%= @user.email %>'s Achievements </h1>

 <%= form_for [@user, @achievement] do |f| %>

  <h2>Description</h2>
   <%= f.text_area :description %></br></br>

  <h2>Date</h2>
   <%= f.date_field(:date) %>

  <h2>Themes</h2>
   <%= f.check_box(:leadership) %>
   <%= f.label(:leadership, "Leadership") %>

   <%= f.check_box(:efficiency) %>
   <%= f.label(:efficiency, "Efficiency") %>

   <%= f.check_box(:mentorship) %>
   <%= f.label(:mentorship, "Mentorship") %>


 </br></br>
 <span id="submit"><%= f.submit %></span>
<% end %>
