 <h1><%= @user.email %>'s Achievements </h1>

 <%= form_for [@user, @achievement] do |f| %>
   <%= f.label :description %></br>
   <%= f.text_area :description %></br></br>

 </br>
 <span id="submit"><%= f.submit %></span>
<% end %>
